/*@font-face {
	font-family: 'DoctorGlitch';
	src: url('./doctor-glitch.otf');
	font-weight: 600;
	font-style: normal;
} Won't work for some reason, maybe size limit, maybe file type*/

@font-face {
	font-family: 'Midnight Bangkok';
	src: url('./Midnight-Bangkok.ttf');
	font-weight: 600;
	font-style: normal;
}

.hello {
  color: red;
  background: url('./prof-photo.jpg');
  font-family: 'Midnight Bangkok';
}

